@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

a.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.mystery-box {
  @apply text-6xl transition-transform transform hover:scale-110 cursor-pointer;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.4s ease-out;
}
